:root {
  --body-color: #5CA0FF;
  --text-color: #99C3FF;
  --hover-color: #FED472;
  --accent-color: #FFADB0;
  --underline-thickness: 3px;

  color-scheme: dark;
}

body {
  background-color: #5CA0FF;
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  text-transform: uppercase;
  font: bold 1.5rem sans-serif;

  & a {
    color: var(--text-color);
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
    padding: 0 0.5em 0.25em;

    &::before {
      content: "";
      scale: 0 1;
      position: absolute;
      background: var(--accent-color);
      transition: 0.3s, translate 0s 0.3s;
      inset: calc(100% - var(--underline-thickness)) 0 0 0;
    }

    &:hover {
      color: var(--hover-color);

      &::before {
        translate: 0;
        transition: 0.3s;
      }
    }
  }

  &:hover {
    & a::before {
      scale: 1;
    }

    & a:has(~ a:hover)::before {
      translate: 100% 0;
      transition: 0.2s 0.2s, scale 0s 0.4s;
    }

    & a:hover ~ a::before {
      translate: -100% 0;
      transition: 0.2s 0.2s, scale 0s 0.4s;
    }
  }
}

.home {
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
}


h1 {
  margin: auto;
  margin-top: 200px;
  text-align: center;
  font-family: "Caveat Brush", sans-serif;
  font-size: 120px;
  line-height: 80%;
  white-space: nowrap;
  transition: 200ms ease-in-out;

  background-image: url("https://raw.githubusercontent.com/cicero-mello/codepen/main/text-mask/ocean-waves.gif");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 513px) {
  h1 { font-size: 84px; }
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





