:root {
  --body-color: #5CA0FF;
  --text-color: #99C3FF;
  --hover-color: #FED472;
  --accent-color: #FFADB0;
  --underline-thickness: 3px;

  color-scheme: dark;
}

body {
  background-color: #5CA0FF;
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  text-transform: uppercase;
  font: bold 1.5rem sans-serif;

  & a {
    color: var(--text-color);
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
    padding: 0 0.5em 0.25em;

    &::before {
      content: "";
      scale: 0 1;
      position: absolute;
      background: var(--accent-color);
      transition: 0.3s, translate 0s 0.3s;
      inset: calc(100% - var(--underline-thickness)) 0 0 0;
    }

    &:hover {
      color: var(--hover-color);

      &::before {
        translate: 0;
        transition: 0.3s;
      }
    }
  }

  &:hover {
    & a::before {
      scale: 1;
    }

    & a:has(~ a:hover)::before {
      translate: 100% 0;
      transition: 0.2s 0.2s, scale 0s 0.4s;
    }

    & a:hover ~ a::before {
      translate: -100% 0;
      transition: 0.2s 0.2s, scale 0s 0.4s;
    }
  }
}

.home {
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
}


h1 {
  margin: auto;
  margin-top: 200px;
  text-align: center;
  font-family: "Caveat Brush", sans-serif;
  font-size: 120px;
  line-height: 80%;
  white-space: nowrap;
  transition: 200ms ease-in-out;

  background-image: url("https://raw.githubusercontent.com/cicero-mello/codepen/main/text-mask/ocean-waves.gif");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 513px) {
  h1 { font-size: 84px; }
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/* ADVERTISERS SERVICE CARD */

.sec-icon {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}

.sec-icon::before {
  content: "";
  position: absolute;
  height: 1px;
  left: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #FED472;
  width: 50px;
}

.sec-icon::after {
  content: "";
  position: absolute;
  height: 1px;
  right: -70px;
  margin-top: -5.5px;
  top: 60%;
  background: #333;
  width: 50px;
}

.advertisers-service-sec span {
  color: rgb(255, 23, 131);
}

.advertisers-service-sec .col {
  padding: 0 1em 1em 1em;
  text-align: center;
}

.advertisers-service-sec .service-card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #FED472;
}

.advertisers-service-sec .service-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#FED472, rgb(255, 23, 131));
  position: absolute;
  left: 0%;
  top: -98%;
  z-index: -2;
  transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.advertisers-service-sec h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
  z-index: 3;
}

.advertisers-service-sec p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  z-index: 3;
}

/*.advertisers-service-sec .icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  z-index: 3;
}*/

.advertisers-service-sec .service-card:hover:after {
  top: 0%;
}

.service-card .icon-wrapper {
  background-color: #ffffff;
  color: rgb(255, 23, 131);
}

.advertisers-service-sec .service-card:hover .icon-wrapper {
  color: #0dcaf0;
}

.advertisers-service-sec .service-card:hover h3 {
  color: #f0f0f0;
}

.advertisers-service-sec .service-card:hover p {
  color: #f0f0f0;
}

.size {
  align-items: centre;
  width: 400px;
}
/* ADVERTISERS SERVICE CARD ENDED */
