:root {
  --body-color: #C6B9CD;
  --text-color: #FCF5C7;
  --hover-color: #ebd9ff;
  --accent-color: #DA7422;
  --underline-thickness: 3px;

  color-scheme: dark;
}

body {
  height: 20vh;
  display: grid;
  overflow: hidden;
  place-content: center;
  background-color: var(--body-color)
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  text-transform: uppercase;
  font: bold 1.5rem sans-serif;

  & a {
    color: var(--text-color);
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
    padding: 0 0.5em 0.25em;

    &::before {
      content: "";
      scale: 0 1;
      position: absolute;
      background: var(--accent-color);
      transition: 0.3s, translate 0s 0.3s;
      inset: calc(100% - var(--underline-thickness)) 0 0 0;
    }

    &:hover {
      color: var(--hover-color);

      &::before {
        translate: 0;
        transition: 0.3s;
      }
    }
  }

  &:hover {
    & a::before {
      scale: 1;
    }

    & a:has(~ a:hover)::before {
      translate: 100% 0;
      transition: 0.2s 0.2s, scale 0s 0.4s;
    }

    & a:hover ~ a::before {
      translate: -100% 0;
      transition: 0.2s 0.2s, scale 0s 0.4s;
    }
  }
}
